@font-face {
  font-family: PonyText;
  src: url(/ponyville-font/PonyvilleMedium-3636.ttf);
}
*{
  font-family: PonyText;
  margin: 0;
  padding:0;
}
nav ul{
  height: 2em;
  background-color:  rgb(240, 83, 201);
 display: flex;
 justify-content: space-evenly;
}
li {
  display: flex;
  justify-content: center;
  list-style: none;
}
a{
  margin: auto;
 
  text-decoration: none;
  color:white;
}

header {
  color: white;
  background: linear-gradient(rgb(171, 236, 238), rgba(240, 99, 205));
  height: 15em;
  display: flex;
  justify-content: center;

}
h1{
  font-size: 12em;
  margin: auto;
  align-items: center;
}
body{
  background-image: url('/images/rainbow2.png');
  background-position: center ;
  background-color: rgb(255, 233, 252);
  background-repeat: no-repeat;
}
p{
  font-family: Arial, Helvetica, sans-serif;
}

.positionering{
  display: flex;

}
.cloud{
  max-width: 40em;
  background-image: url('/images/cloud2.png');
  padding: 2em;
}
/*Clouds dosnt work*/