@font-face {
  font-family: PonyText;
  src: url(./ponyville-font/PonyvilleMedium-3636.ttf);
}
*{
  font-family: PonyText;
  margin: 0;
  padding:0;
}

.flik{
  overflow:hidden;
  border: 3px solid rgb(233, 87, 160);
  background-color: hotpink;;
}
.flik button {
  background-color: hotpink;
  float: left;
  border: none;
  outline: none;
  padding: 1em;
  transition: 0.5s;
}
.flik button:hover{
  background-color: white;
}

.flik button:active{
  background-color: pink;
  transition: 1s;
}

.flikInnehall{
  display: none;
  padding: 2em;
  border: 1px solid hotpink;
}
.flikarna{
  max-width: 80%;
  margin: auto;
  margin-bottom: 2em;

}
#personal, #borjaRida, #kalender {
  background-color: white;
}
@media (min-width: 451px) {
  /* … */

nav ul{
  height: 2em;
  background-color:  rgb(240, 83, 201);
 display: flex;
 justify-content: space-evenly;
}
nav li {
  display: flex;
  justify-content: center;
  list-style: none;
}
a{
  margin: auto;
 
  text-decoration: none;
  color:white;
}

header {
  color: white;
  background: linear-gradient(rgb(171, 236, 238), rgba(240, 99, 205));
  height: 15em;
  display: flex;
  justify-content: center;

}
h1{
  font-size: 8vW;
  margin: auto;
  align-items: center;
}
body{
  background-image: url('./images/rainbow2.png');
  background-position: center ;
  background-color: rgb(255, 233, 252);
  background-repeat: no-repeat;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  padding:2em;
}
h2{
  padding:3em;
}

.positionering{
  display: flex;
  justify-content: center;

}
.cloud{
  max-width: 40em;
  background-image: url('./images/cloud2.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 2em;
  overflow: hidden;
 
}

/*Personalens stilregler*/
.personalKort:nth-child(even){
  background-color: pink;
} 
.personalKort{
  display: flex;
}
.profilBild{
  border-radius: 50%;
  overflow: hidden;
  
}

.personalKort h4, .personalKort p{
  margin:auto;
  margin-left: 1em;

}
.profilBild img{
  width: 10rem;
}


/*Ridskolans stilregler*/
.flik{
  overflow:hidden;
  border: 3px solid rgb(233, 87, 160);
  background-color: hotpink;;
}
.flik button {
  background-color: hotpink;
  float: left;
  border: none;
  outline: none;
  padding: 2em;
  transition: 0.5s;
}
.flik button:hover{
  background-color: white;
}

.flik button:active{
  background-color: pink;
  transition: 1s;
}

.flikInnehall{
  display: none;
  padding: 2em;
  border: 1px solid hotpink;
}
.flikarna{
  max-width: 80%;
  margin: auto;
  margin-bottom: 2em;

}
#personal, #borjaRida, #kalender {
  background-color: white;
}
table, th, td{
  background-color: pink;
  border: 1px solid;
  border-collapse: collapse;
  padding:1em;
  
}
.kontaktWrapper{
  background-color: white;
  margin:auto;
  max-width: 50%;
  border-radius: 3px;
  
}
.kontaktPos, .kontaktWrapper h2, .kontaktWrapper p{
  margin:auto;
  text-align: center;
}